*.bak*
*.pyc
irrp.py
.env
.vscode
codes
test_codes
test.py
launch.json
settings.json
debug_tools/

.vscode
raspi/init.sh

/web-server/mongo/db/
web-server/express/src/node_modules/
web-server/vue/src/node_modules/
ESP32/lib/README
ESP32/include/README
ESP32/test/README
