*.bak*
*.pyc
irrp.py
.env
.vscode
codes
test_codes
test.py
launch.json
settings.json
debug_tools/
package-lock.json
/web-server/express/src/node_modules/
/web-server/mongo/db/
/web-server/vue/src/node_modules/
