


.microphone {
	font-size: 60px;
	position: relative;
	width: 0.6em;
	height: 1.1em;
	background-color: #504f4f;
    border-radius: 0.3em;
    margin : 200px auto;

}
/* U */
.microphone::before {
	content: "";
	position: absolute;
	top: 0.5em;
	left: -0.2em;
	width: 0.8em;
	height: 0.7em;
	border-left: 0.1em solid #504f4f;
	border-right: 0.1em solid #504f4f;
	border-bottom: 0.1em solid #504f4f;
	border-radius: 0 0 0.5em 0.5em;
}
/* ä¸‹ */
.microphone::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.6em;
	height: 1.6em;
	background:
		linear-gradient(to bottom, #504f4f 0%, #504f4f 100%) 0.25em 1.2em,
		linear-gradient(to bottom, #504f4f 0%, #504f4f 100%) 0 1.5em
	;
	background-size:
		0.1em 0.4em,
		0.6em 0.1em
	;
	background-repeat: no-repeat;
}